* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

img {
    width: 100%;
    border-radius: 10px;
}

.card {
    background-color: hsl(0, 0%, 100%);
    max-width: 280px;
    border-radius: 20px;
    padding: 18px 18px 40px 18px;
    text-align: center;
    margin: 0 1em;
}

h2 {
    margin: 20px 10px;
    color: hsl(218, 44%, 22%);
}

p {
    color: hsl(220, 15%, 55%)
}